Flask
Flask-SQLAlchemy
Flask-Session
Flask-Caching
SQLAlchemy
sqlalchemy-utils
passlib
bcrypt
six
itsdangerous
requests
PyMySQL
gunicorn
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
